# Ignore these folders.
mongodata/
docker/images/
*bin/
*obj/
.*/

# Ignore these files
*.log
**/api/**/healthchecksdb
**/hcgui/**/healthchecksdb

# Ignore Doc & Excel files
*.xls
*.xlsx
*.doc
*.docx

!.vscode/
!/.gitignore
